.correlation-row {
  display: flex;
  border-radius: 8px;
  background: var(--primary);
  --primary: #4bb4e6;
  cursor: pointer;
}
.correlation-row:hover .label {
  background: #f6f6f6;
}
.correlation-row > * {
  border: 1px solid var(--primary);
  height: 36px;
  border-radius: 8px;
  display: flex;
  padding: 4px 10px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.correlation-row .label {
  background: #fff;
  flex: 1;
  border: 1px solid var(--primary);
}
.correlation-row .value {
  background: var(--primary);
  color: #fff;
  width: 48px;
  justify-content: center;
}
