:host {
  font-family: sans-serif;
}

#assistance-component {
  position: absolute;
  width: 370px;
  height: 680px;
  top: 80px;
  right: 16px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 14px;
}
h1 {
  font-size: 16px;
}
#assistance-component main > *:not(:last-child) {
  margin-bottom: 8px;
}
#assistance-component .logo {
  width: 58px;
  align-self: center;
}
.icon {
  width: 16px;
  margin-left: 8px;
}
.row {
  display: flex;
  align-items: center;
}
[speech-bubble],
[speech-bubble] * {
  box-sizing: border-box;
}

[speech-bubble] {
  --bbColor: grey;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
}

[speech-bubble]::before {
  content: '';
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom] {
  margin-bottom: var(--bbArrowSize);
}
[speech-bubble][ptop] {
  margin-top: var(--bbArrowSize);
}
[speech-bubble][pleft] {
  margin-left: var(--bbArrowSize);
}
[speech-bubble][pright] {
  margin-right: var(--bbArrowSize);
}

/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before {
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before {
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before {
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%);
}
[speech-bubble][pbottom][acenter]::before {
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%);
}
[speech-bubble][pbottom][aright]::before {
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%);
}
/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before {
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before {
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before {
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%);
}
[speech-bubble][pright][acenter]::before {
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%);
}
[speech-bubble][pright][abottom]::before {
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%);
}

/* left */
[speech-bubble][pleft]::before {
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before {
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%);
}
[speech-bubble][pleft][acenter]::before {
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before {
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%);
}

button {
  padding: 4px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
button.action {
  background: #4bb4e6;
  color: #fff;
}
footer {
  margin-top: auto;
  display: flex;
  height: 36px;
}
footer input {
  flex: 1;
  padding: 10px;
  border-radius: var(--radius-radius-moyen, 8px);
  border: 1px solid var(--colors-actions-cab, #4bb4e6);
  background: var(--colors-surface-primary, #f6f6f6);
}
footer .logo {
  width: 36px !important;
  margin-left: 8px;
}
.orange {
  color: #ff7900;
}
