.procedure-step {
  display: flex;
  margin-left: 4px;
}

:root[state='done'] {
  filter: grayscale(1);
}

.step {
  padding: 4px 8px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 4px;
  flex: 1;
  background: #00a3ff;
  border-radius: 9px;
  margin: -2px 0;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 99px;
  background: #00a3ff;
  border: 2px solid #1d1d1d;
  box-sizing: border-box;
  z-index: 100;
}
