:host {
  font-family: sans-serif;
}
#correlation-component {
  position: absolute;
  width: 370px;
  height: 680px;
  top: 80px;
  right: 16px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 14px;
}
h1 {
  font-size: 16px;
  flex: 1;
  text-align: center;
}
#correlation-component header {
  display: flex;
  align-items: center;
}
#correlation-component main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
#correlation-component main > *:not(:last-child) {
  margin-bottom: 8px;
}
#correlation-component .logo {
  width: 58px;
  align-self: center;
}
.correlation-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.correlations {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  gap: 8px;
}
.icon {
  width: 16px;
  margin-left: 8px;
}
.correlation-row {
  display: flex;
  border-radius: 8px;
  background: var(--primary);
  --primary: #4bb4e6;
}
.correlation-row > * {
  border: 1px solid var(--primary);
  height: 36px;
  border-radius: 8px;
  display: flex;
  padding: 4px 10px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.correlation-row .label {
  background: #fff;
  flex: 1;
  border: 1px solid var(--primary);
}
.correlation-row .value {
  background: var(--primary);
  color: #fff;
  width: 48px;
  justify-content: center;
}
button {
  place-self: end;
  background: transparent;
  border: none;
  color: #4bb4e6;
}

footer {
  margin-top: auto;
  display: flex;
  height: 36px;
}
footer input {
  flex: 1;
  padding: 10px;
  border-radius: var(--radius-radius-moyen, 8px);
  border: 1px solid var(--colors-actions-cab, #4bb4e6);
  background: var(--colors-surface-primary, #f6f6f6);
}
footer .logo {
  width: 36px !important;
  margin-left: 8px;
}
