<div id="correlation-component">
  <link rel="stylesheet" href="./shared/components/CorrelationView/style.css" />
  <header>
    <img src="../../assets/images/cab_frame.png" alt="Logo" height="32" />
    <h1>Corrélations statistiques</h1>
    <img src="../../assets/images/info.svg" class="icon" />
  </header>
  <main>
    <b>Pas de temps</b>
    <br />
    <div class="correlation-size">
      5min
      <input type="range" list="size" min="5" max="60" value="5" step="5" id="correlation-size" />
      <datalist id="size">
        <option value="5" label="5min"></option>
        <option value="15" label="15min"></option>
        <option value="30" label="30min"></option>
        <option value="45" label="45min"></option>
        <option value="60" label="60min"></option>
      </datalist>
      60 min
    </div>
    <div id="size-value">15min</div>
    <h2><span id="number-correlations">X</span> corrélations trouvées <img src="../../assets/images/info.svg" class="icon" /></h2>
    <div id="correlations"></div>
    <button id="correlations-more">+ Résultats</button>
  </main>
  <footer>
    <input type="text" placeholder="Comment puis-je vous aider ?" /><img src="../../assets/images/cab_frame.png" alt="Logo" class="logo" />
  </footer>
</div>
