<div id="correlation-component">
  <link rel="stylesheet" href="./shared/components/CorrelationView/style.css" />
  <header>
    <img src="../../assets/images/cab_frame.png" alt="Logo" height="32" />
    <h1>Corrélations statistiques</h1>
    <img src="../../assets/images/info.svg" class="icon" />
  </header>
  <main>
    <b>Pas de temps</b>
    <br />
    <div class="correlation-size">
      5min
      <input type="range" list="size" min="1" max="5" value="1" step="1" id="correlation-size" />
      <datalist id="size">
        <option value="1" label="5min"></option>
        <option value="2" label="15min"></option>
        <option value="3" label="30min"></option>
        <option value="4" label="45min"></option>
        <option value="5" label="60min"></option>
      </datalist>
      60 min
    </div>
    <h2>X corrélations trouvées <img src="../../assets/images/info.svg" class="icon" /></h2>
    <div class="correlations">
      <div class="correlation-row">
        <div class="label"><span>App X</span></div>
        <div class="value">0.99</div>
      </div>
    </div>
    <button>+ Résultats</button>
  </main>
  <footer>
    <input type="text" placeholder="Comment puis-je vous aider ?" /><img src="../../assets/images/cab_frame.png" alt="Logo" class="logo" />
  </footer>
</div>
