.links line {
  stroke-width: 2;
  transition: 0.2s;
}

.nodes circle,
.tooltip {
  transition: 0.1s;
}

.nodes text {
  text-anchor: middle;
  fill: #fff;
  font-size: 0.6em;
  font-weight: bold;
}

.nodes circle {
  fill: #000;
  stroke: #f00;
  stroke-width: 0;
  paint-order: stroke;
}

#orange_ctx_container svg {
  cursor: grab;
}

#orange_ctx_container svg:active {
  cursor: grabbing;
}

.nodes g {
  cursor: pointer;
}

.nodes g:active {
  cursor: grabbing;
}

.tooltip {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  white-space-collapse: preserve;
}

#orange_ctx_container svg {
  height: 100%;
  width: 100%;
}
