.links line {
  stroke: #000;
}
div.tooltip {
  position: absolute;
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  white-space-collapse: preserve;
}

#orange_ctx_container svg {
  height: 100%;
  width: 100%;
}
