

<h2> You received the following message from orange bundle </h2>

<h3> event_type  {{card.data.metadata.event_type}} </h3>
<h3> zone {{card.data.metadata.zone}} </h3>
<h3> line {{card.data.metadata.line}} </h3>
<h3> flux {{card.data.metadata.flux}} </h3>