a {
  color: var(--color-blue-500);
  text-decoration: none;
}

a.router-link-exact-active {
  color: var(--color-orange-500);
  font-weight: bold;
}

.cab-input {
  border-radius: var(--radius-medium);
  border: 1px solid var(--color-primary);
  background: var(--color-grey-200);
  padding: var(--spacing-1);
  color: var(--color-text);
}

.cab-panel {
  border-radius: var(--radius-big);
  background: var(--color-background);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  padding: var(--spacing-1);
  overflow: auto;

  h1,
  h2,
  h3 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.875rem;
  }
}

.cab-btn,
.cab-card,
a {
  transition: var(--duration);

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}
