a {
  color: var(--color-blue-500);
  text-decoration: none;
}

a.router-link-exact-active {
  color: var(--color-orange-500);
  font-weight: bold;
}

.cab-input {
  border-radius: var(--radius-medium);
  border: 1px solid var(--color-primary);
  background: var(--color-grey-200);
  padding: var(--spacing-1);
  color: var(--color-text);
}

.cab-panel {
  position: relative;
  border-radius: var(--radius-big);
  background: var(--color-background);
  box-shadow:
    inset calc(var(--unit) * 0.5) calc(var(--unit) * 0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-grey-200), #000 15%),
    inset calc(var(--unit) * -0.5) calc(var(--unit) * -0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-grey-200), #fff 15%);
  padding: var(--spacing-1);
}

.cab-btn,
a {
  transition: var(--duration);

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}
