a {
  color: var(--color-blue-500);
  text-decoration: none;
}

a.router-link-exact-active {
  color: var(--color-orange-500);
  font-weight: bold;
}

.cab-input {
  border-radius: var(--radius-medium);
  border: none;
  box-shadow:
    inset calc(var(--unit) * 0.5) calc(var(--unit) * 0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-grey-200), #000 20%),
    inset calc(var(--unit) * -0.5) calc(var(--unit) * -0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-grey-200), #ccc 20%);
  background-color: var(--color-grey-200);
  padding: var(--spacing-1);
  color: var(--color-text);
  font-feature-settings: 'liga', 'calt', 'ss02';
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 9007199254740991s,
    color 0s 9007199254740991s !important;
}

.cab-panel {
  --color-panel-background: var(--color-background);
  position: relative;
  border-radius: var(--radius-big);
  background: var(--color-panel-background);
  box-shadow:
    inset calc(var(--unit) * 0.5) calc(var(--unit) * 0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-panel-background), #000 20%),
    inset calc(var(--unit) * -0.5) calc(var(--unit) * -0.5) calc(var(--unit) * 1)
      color-mix(in srgb, var(--color-panel-background), #ccc 20%);
  padding: var(--spacing-1);
}

.lucide {
  filter: drop-shadow(
      calc(var(--unit) * 0.5) calc(var(--unit) * 0.5) calc(var(--unit) * 1)
        color-mix(in srgb, var(--color-background), #000 20%)
    )
    drop-shadow(
      calc(var(--unit) * -0.5) calc(var(--unit) * -0.5) calc(var(--unit) * 1)
        color-mix(in srgb, var(--color-background), #ccc 20%)
    );
}

.cab-btn,
a {
  transition: var(--duration);

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}
